<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ikomm.apps.HSM"
    android:versionCode="82"
    android:versionName="82.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        
        <!-- Activity -->
        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity
            android:name=".activity.SplashScreenEndActivity"
            android:label="@string/title_activity_splash_screen2"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
        	android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AgendaActivity"
            android:label="@string/title_activity_agenda"
            android:screenOrientation="portrait" >
        </activity>
		<activity
            android:name=".activity.PanelistActivity"
            android:label="@string/title_activity_palestrantes"
            android:screenOrientation="portrait" >
        </activity>
        <activity
        	android:name=".activity.LectureDetailsActivity"
            android:label="@string/title_activity_detalhe_palestra"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PassesActivity"
            android:label="@string/title_activity_pacote"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PaymentActivity"
            android:label="@string/title_activity_pagamento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.GreetingsActivity"
            android:label="@string/title_activity_agradecimento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ParticipantActivity"
            android:label="@string/title_activity_participante"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.NetworkingListActivity"
            android:label="@string/title_activity_lista_networking"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AddCardActivity"
            android:label="@string/title_activity_meu_cartao"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ContactActivity"
            android:label="@string/title_activity_contato"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.QRCodeActivity"
            android:label="@string/title_activity_qrcode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.BookListActivity"
            android:label="@string/title_activity_lista_livros"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.BookDetailsActivity"
            android:label="@string/title_activity_detalhe_livro"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EventListActivity"
            android:label="@string/title_activity_eventos_nova"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MagazineActivity"
            android:label="@string/title_activity_revista"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EventDetailsActivity"
            android:label="@string/title_activity_detalhe_evento_neo"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- Services -->
        <service android:name=".services.HSMService" >
            <intent-filter>
                <action android:name="StartService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>