<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ikomm.apps.HSM"
    android:versionCode="82"
    android:versionName="82.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Theme" >
        
        <!-- Activity -->
        <activity
            android:name="br.ikomm.hsm.activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ikomm.hsm.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.activity.AgendaActivity"
            android:label="@string/title_activity_agenda"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.activity.DetalhePalestraActivity"
            android:label="@string/title_activity_detalhe_palestra"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.activity.PacoteActivity"
            android:label="@string/title_activity_pacote"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.activity.PagamentoActivity"
            android:label="@string/title_activity_pagamento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.activity.AgradecimentoActivity"
            android:label="@string/title_activity_agradecimento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.DetalheEventoActivity"
            android:label="@string/title_activity_detalhe_evento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.adapter.Data1Adapter"
            android:label="@string/title_activity_data1_adapter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.fragment.AgendaFragment"
            android:label="@string/title_activity_data1_fragment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.adapter.AgendaAdapter"
            android:label="@string/title_activity_agenda_adapter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.adapter.PacoteAdapter"
            android:label="@string/title_activity_pacote_adapter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.activity.SplashScreen2Activity"
            android:label="@string/title_activity_splash_screen2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.activity.ParticipanteActivity"
            android:label="@string/title_activity_participante"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.EventosActivity"
            android:label="@string/title_activity_eventos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.InformativoActivity"
            android:label="@string/title_activity_informativo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.adapter.SimplesAdapter"
            android:label="@string/title_activity_simples_adapter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.MostraConteudoActivity"
            android:label="@string/title_activity_mostra_conteudo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.activity.PalestrantesActivity"
            android:label="@string/title_activity_palestrantes"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.adapter.BDWAgendaAdapter"
            android:label="@string/title_activity_bdwagenda_adapter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.adapter.PalestranteAdapter"
            android:label="@string/title_activity_palestrante_adapter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.fragment.BannerFragment"
            android:label="@string/title_activity_banner_fragment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.ListaNetworkingActivity"
            android:label="@string/title_activity_lista_networking"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.adapter.AmigoAdapter"
            android:label="@string/title_activity_amigo_adapter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.MeuCartaoActivity"
            android:label="@string/title_activity_meu_cartao"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.ContatoActivity"
            android:label="@string/title_activity_contato"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.QRCodeActivity"
            android:label="@string/title_activity_qrcode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.neo.ListaLivrosActivity"
            android:label="@string/title_activity_lista_livros"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.neo.DetalheLivroActivity"
            android:label="@string/title_activity_detalhe_livro"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.neo.EventosNovaActivity"
            android:label="@string/title_activity_eventos_nova"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.neo.RevistaActivity"
            android:label="@string/title_activity_revista"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.neo.DetalheEventoNeoActivity"
            android:label="@string/title_activity_detalhe_evento_neo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.neo.DetalhePalestraNEOActivity"
            android:label="@string/title_activity_detalhe_evento_neo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.com.ikomm.apps.HSM.DetalhePalestraNeoActivity"
            android:label="@string/title_activity_detalhe_palestra_neo" >
        </activity>
        <activity
            android:name="br.ikomm.hsm.adapter.LivrosAdapter"
            android:label="@string/title_activity_livros_adapter" >
        </activity>
        
        <!-- Services -->
        <service android:name="br.ikomm.hsm.services.HSMService" >
            <intent-filter>
                <action android:name="StartService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>